/* EditarProdutos.module.css */

/* Estilo para o contêiner principal */
.editarProdutosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url("https://images2.alphacoders.com/472/472519.jpg"); /* Cor de fundo personalizada */
  background-size: cover; /* Tamanho da imagem de fundo */
  background-repeat: no-repeat; /* Evitar a repetição da imagem */
  min-height: 100vh; /* Preencher a altura da tela */
}

/* Estilo para o título */
h1 {
  font-size: 24px;
  color: #000000; /* Cor do texto personalizada */
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Estilo para o formulário */
form {
  width: 100%;
  max-width: 600px; /* Aumente o valor máximo para ampliar o formulário */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto; /* Centraliza o formulário horizontalmente */
  overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
  margin-right:40px;
  
}

/* Estilo para os campos de entrada */
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para o botão "EDITAR" */
form button {
  background-color: #bf0328; /* Cor personalizada para o botão EDITAR */
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

/* Estilo do botão "EDITAR" em hover */
form button:hover {
  background-color: #AB2A43; /* Tonalidade mais escura do rosa no hover */
}

/* Estilo para a legenda do formulário */
legend {
  font-size: 20px;
  color: #0079BF; /* Cor primária personalizada */
  margin-bottom: 10px;
}

/* Estilo para os campos de entrada */
input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para a seção de visualização dos dados do produto */
.dataSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

/* Estilo para a tabela de dados do produto */
.productTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Estilo para os títulos dos dados do produto */
.dataTitle {
  font-weight: bold;
  padding-right: 10px;
  text-align: right; /* Alinhe os títulos à direita */
  width: 30%; /* Define uma largura fixa para os títulos */
}

/* Estilo para os dados do produto */
.productTable td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Estilo para o botão "Voltar" */
.backButton {
  position: absolute;
  margin-top: -30px;
  right:25%;
  background-color: #0079BF; /* Cor de fundo personalizada para o botão */
  color: #fff; /* Cor do texto */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* Estilo para o botão "Voltar" em hover */
.backButton:hover {
  background-color: #005e9e; /* Cor personalizada no hover */
}




