/* Paleta de Cores */
:root {
    --cor-primaria: #e87965;
    --cor-secundaria: #ed1a0b;
    --cor-terciaria: #ffffff;
    --cor-texto-principal: #333;
    --cor-texto-secundario: #666;
    --cor-fundo: #dddddd;
}

/* Estilos do Contêiner Externo */
.containerExcluir {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url("https://images6.alphacoders.com/691/691938.jpg"); /* Substitua "sua-imagem.jpg" pelo caminho da sua imagem de fundo */
    background-size: cover; /* Tamanho da imagem de fundo */
    background-repeat: no-repeat; /* Evitar a repetição da imagem */
    border-radius: 8px; /* Adicionando borda arredondada ao contêiner */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adicionando sombra */
    max-width: 400px; /* Definindo uma largura máxima para o contêiner */
    margin: 0 auto; /* Centralizando horizontalmente */
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Estilos para Mensagem de Alerta */
.containerExcluir .alertMsg {
    background-color: var(--cor-secundaria);
    color: #fff;
    border: 2px solid #8f1e2d;
    padding: 12px 24px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Estilos para Títulos */
.containerExcluir h1,
.containerExcluir h2 {
    text-align: center;
    background-color: var(--cor-terciaria);
    padding: 10px;
    margin: 0;
    color: var(--cor-texto-principal);
    border-top-left-radius: 8px; /* Adicionando borda arredondada ao topo esquerdo */
    border-top-right-radius: 8px; /* Adicionando borda arredondada ao topo direito */
}

/* Estilos para Figura e Borda */
.containerExcluir figure {
    border: 3px solid var(--cor-primaria);
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para Imagem */
.containerExcluir img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px; /* Adicionando borda arredondada à imagem */
}

/* Estilos para Legenda da Figura */
.containerExcluir figcaption {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 8px; /* Adicionando borda arredondada à parte inferior esquerda */
    border-bottom-right-radius: 8px; /* Adicionando borda arredondada à parte inferior direita */
}

/* Estilos para Botões */
.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Estilos para Botão "Excluir" */
.buttonExcluir,
.buttonCancelar {
    flex: 1;
    background-color: var(--cor-secundaria);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s;
    margin-left: 10px;
}

/* Estilo do Botão "Excluir" em Hover */
.buttonExcluir:hover {
    background-color: #C83250;
}

/* Estilo do Botão "Cancelar" em Hover */
.buttonCancelar:hover {
    background-color: #D0D0D0;
}
